*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
body{
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 100px;
    max-width: 1300px;
}
.home{
    margin-bottom: 40px;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    width: 100vw;
    height: 20vh;
}
.home > h2{
    margin-top: -40px;
    font-size: 50px;
}
#getStarted{
    margin-top: 20px;
    float: left;
}
.questions{
    background-color: cadetblue;
    padding: 40px 50px;
}
@media (max-width: 900px){
    .questionone{
        padding: 0 80px;
        background-color: gray;

    }
    .questiontwo {
        padding: 0 80px;
        background-color: grey;
    }
    .questionthree {
        padding: 0 80px;
        background-color: grey;
    }
    .questionfour {
        padding: 0 80px;
        background-color: grey;
    }
    .questionfive {
        padding: 0 80px;
        background-color: grey;
    }
    .questionsix {
        padding: 0 80px;
        background-color: grey;
    }
    .questionseven{
        padding: 0 80px;
        background-color: grey;
    }
    .questioneight {
        padding: 0 80px;
        background-color: grey;
    }
    .questionnine {
        padding: 0 80px;
        background-color: grey;
    }
    .questionten {
        padding: 0 80px;
        background-color: grey;
    }
    
}
 
/* Basic styling */

.questionone {
    border: 1px solid black;
    padding: 70px;
    width: fit-content;
    margin-bottom: 10px;
    background-color: lightcyan;
}

.questiontwo {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionthree {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionfour {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionfive {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionsix {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionseven{
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questioneight {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionnine {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}
.questionten {
    border: 1px solid red;
    padding: 70px;
    width: fit-content;
    display: none;
}

.message {
    color: green;
    display: none;
}
button{
    float: right;
    margin: 0 5px;
    margin-top: 30px;
    background-color: aqua;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}
#resultsBtn{
    margin-top: -10px;
}
